<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding/id-scan"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center"></ion-title>
    <ion-buttons slot="end">
      <img class="header-img" src="assets/images/logo_blue.png" height="40" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mx-auto px-5">
    <div class="mt-2">
      <div>
        <h3 class="browse" style="width: 90%">
          Now take a photo of the<strong style="color: #005b82 !important">
            Front
          </strong>
          & <strong style="color: #005b82 !important"> Back</strong> of your
          National ID
        </h3>
      </div>
    </div>

    <div>
      @if(frontImage.length > 0 && !loader.scanningFront &&
      loader.frontIdScanSuccess && !loader.savingFront && !loader.savedFront){
      <div class="uk-card-media-top mb-3">
        <img
          [src]="this.frontImage"
          width="100%"
          alt="Front Id"
          style="border: solid 3px #005b82; border-radius: 4px"
        />
      </div>
      } @if(( !loader.scannedFront && !loader.frontIdScanSuccess) ||
      loader.savingFront){
      <ion-item
        (click)="openCamera('id_front')"
        class="border p-2 mb-3 h-28 flex justfy-center mb-3"
        lines="none"
        style="background: #c5c6d0; border: 1px #989 solid; border-radius: 5px"
      >
        <div class="flex flex-row center items-center gap-4">
          <img
            ngSrc="assets/images/id-card.svg"
            height="60"
            width="60"
            alt="passport"
            priority
          />
          <ion-label class="font-black" style="font-weight: 600">
            @if(loader.scanningFront && !loader.savingFront){ Scanning Front
            ID... } @if(!loader.scanningFront && !loader.savingFront){ Front ID
            } @if(loader.savingFront){ Saving Front of ID ...
            {{ progress }}%<br />
            <div class="items-center">
              <ion-progress-bar
                [value]="progress / 100"
                color="secondary"
              ></ion-progress-bar>
            </div>
            }
          </ion-label>
        </div>
        @if(loader.savingFront){
        <ion-spinner slot="end" name="dots" color="secondary"></ion-spinner>
        } @if(loader.scanningFront){
        <ion-spinner slot="end" name="circular" color="secondary"></ion-spinner>
        } @if(!loader.scanningFront && !loader.savingFront){
        <ion-icon
          slot="end"
          class="iconSize"
          name="chevron-forward-outline"
        ></ion-icon>
        } @if(loader.savedFront){
        <ion-icon
          slot="end"
          class="iconSize"
          style="color: green"
          name="checkmark-done-outline"
        ></ion-icon>
        }
      </ion-item>
      }
    </div>

    <div>
      @if((this.backImage.length > 0 && !loader.scanningBack &&
      loader.backIdScanSuccess) && !loader.savingBack && !loader.savedBack){
      <div class="uk-card-media-top mb-3">
        <img
          [src]="this.backImage"
          width="100%"
          alt="Back ID"
          style="border: solid 3px #005b82; border-radius: 4px"
        />
      </div>
      } @if(( !loader.scannedBack && !loader.backIdScanSuccess) ||
      loader.savingBack){
      <ion-item
        (click)="openCamera('id_back')"
        class="border p-2 mb-3 h-28 flex justfy-center mb-3"
        lines="none"
        style="background: #c5c6d0; border: 1px #989 solid; border-radius: 5px"
      >
        <div class="flex flex-row center items-center gap-4">
          <img
            ngSrc="assets/images/back-id.png"
            height="60"
            width="60"
            alt="Back ID"
            priority
          />
          <ion-label class="font-black" style="font-weight: 600">
            @if(loader.scanningBack && !loader.savingBack){ Scanning Back ID...
            } @if(!loader.scanningBack && !loader.savingBack){ Back ID }
            @if(!loader.scanningBack && loader.savingBack){ Saving Back of ID
            ... {{ progress }}% <br />
            <div class="items-center">
              <ion-progress-bar
                color="secondary"
                [value]="progress / 100"
              ></ion-progress-bar>
            </div>
            }
          </ion-label>
        </div>
        @if(loader.savingBack){
        <ion-spinner slot="end" name="dots" color="secondary"></ion-spinner>
        } @if(loader.scanningBack){
        <ion-spinner slot="end" name="circular" color="secondary"></ion-spinner>
        } @if(!loader.scanningBack && !loader.savingBack){
        <ion-icon
          slot="end"
          class="iconSize"
          name="chevron-forward-outline"
        ></ion-icon>
        } @if(loader.savedBack){
        <ion-icon
          slot="end"
          class="iconSize"
          style="color: green"
          name="checkmark-done-outline"
        ></ion-icon>
        }
      </ion-item>
      }
    </div>
  </div>

  @if(waitingToSave){
  <div class="flex justify-center gap-2">
    <span class="text-[#005B82] font-semibold">just wait</span
    ><ion-spinner name="dots" color="secondary"></ion-spinner>
  </div>
  }

  <div class="uk-margin-small-top">
    @if(loader.savingIdFailed){
    <div
      class="uk-margin-medium-bottom uk-margin-small-left uk-margin-small-right uk-margin-large-top"
    >
      <ion-button
        (click)="saveNationalId()"
        size="small"
        mode="md"
        expand="block"
        fill="solid"
        [disabled]="
          (this.backImage.length <= 0 || !loader.scannedBack) &&
          !loader.backIdScanSuccess
        "
      >
        {{ loader.savedFront || loader.savingBack ? "" : "Continue" }}
        <ion-spinner
          *ngIf="loader.savingBack || loader.savingFront"
          name="circular"
          color="secondary"
        ></ion-spinner>
      </ion-button>
    </div>
    }
  </div>
</ion-content>
