ion-content{
  --background: #f3f3f4;
}

.terms-text{
  padding: 10px;
}

.new-background-color{
  --background: #196b8e;
}

//The down arrow button
.testee{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-element{
  position: absolute;
  font-size: 3.5rem;
  top: calc(90vh - 3rem);
}
.animate__animated.animate__bounce{
  --animate-duration: 4s;
}

h6{
  font-family: 'Gilroy-Medium' !important;
}
p{
  font-family: 'Gilroy-Regular' !important;
}
