<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding/selfie"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mr-4 ml-4 flex items-center gap-2">
    <ion-progress-bar  [value]="1"></ion-progress-bar>
  </div>
  <div>
    <div class="container mx-auto p-4 w-full">
      <div>
        <h3 class="browse">
          Please check that all the information is <strong style="color: #005B82 !important; ">correctly captured</strong> before sumbitting
        </h3>
      </div>
    </div>
    <!-- <div  class="uk-margin-large-left ">
      <div>
        <h4 class="browse" style="width: 80%;">Please check that all the information is <strong style="color: #005B82 !important; ">correctly captured</strong> before sumbitting
        </h4>
      </div>
    </div> -->

    <div class="id_no uk-margin-small-bottom">
      <div class="tool-section ion-padding">
       <div class="item-left">
        <div class="flex justify-between">
          <span class="ion-text-center itm-head">Identification</span>
          <span class="ion-text-center itm-head"><ion-icon color="secondary" name="create"></ion-icon></span>
        </div>
        <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
          <table class="uk-table uk-table-small">
            <tbody>
              <tr>
                <td>Account Type:</td>
                <td><strong>{{summary?.accountType}}</strong></td>
              </tr>
              <tr>
                <td>National ID:</td>
                <td><strong>{{summary?.nationalId}}</strong></td>
              </tr>
              <tr>
                <td>Phone Number:</td>
                <td><strong>{{summary?.phoneNumber}}</strong></td>
              </tr>
              <tr>
                <td>Email Address:</td>
                <td><strong>{{summary?.emailAddress}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
       <div>
        <span>

        </span>
       </div>
      </div>
     </div>

     <div class="id_no uk-margin-small-top uk-margin-small-bottom">
      <div class="tool-section ion-padding">
       <div class="item-left">
        <div class="flex justify-between">
          <span class="ion-text-center itm-head">Account Preferences</span>
          <span class="ion-text-center itm-head"><ion-icon color="secondary" name="create"></ion-icon></span>
        </div>

        <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
          <table class="uk-table uk-table-small">
            <tbody>
              <tr>
                <td>Branch:</td>
                <td><strong>{{summary?.branch}}</strong></td>
              </tr>
              <tr>
                <td>Country:</td>
                <td><strong>{{summary?.residence}}</strong></td>
              </tr>
              <tr>
                <td>Physical Address:</td>
                <td><strong>{{summary?.physicalAddrress}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
       <div>
        <span>

        </span>
       </div>
      </div>
     </div>

     <div class="id_no uk-margin-small-top uk-margin-small-bottom">
      <div class="tool-section ion-padding">
       <div class="item-left">
        <div class="flex justify-between">
          <span class="ion-text-center itm-head">Next of Kin</span>
          <span class="ion-text-center itm-head"><ion-icon color="secondary" name="create"></ion-icon></span>
        </div>

        <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
          <table class="uk-table uk-table-small">
            <tbody>
              <tr>
                <td>Full Name:</td>
                <td><strong>{{summary?.nameOfNextOfKin}}</strong></td>
              </tr>
              <tr>
                <td>Phone Number:</td>
                <td><strong>{{summary?.phoneNumberOfNextOfKin}}</strong></td>
              </tr>
              <tr>
                <td>Relationship:</td>
                <td><strong>{{summary?.relationshipWithNextOfKin}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
       <div>
        <span>

        </span>
       </div>
      </div>
     </div>

     <div class="id_no uk-margin-small-top uk-margin-small-bottom">
      <div class="tool-section ion-padding">
       <div class="item-left">
        <div class="flex justify-between">
          <span class="ion-text-center itm-head">Occupation</span>
          <span class="ion-text-center itm-head"><ion-icon color="secondary" name="create"></ion-icon></span>
        </div>
        <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
          <table class="uk-table uk-table-small">
            <tbody>
              <tr>
                <td>Occupation:</td>
                <td><strong>{{summary?.occupation}}</strong></td>
              </tr>
              <tr>
                <td>Industry:</td>
                <td><strong>{{summary?.industry}}</strong></td>
              </tr>
              <tr>
                <td>Employer:</td>
                <td><strong>{{summary?.employer ?? "-"}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
       <div>
        <span>

        </span>
       </div>
      </div>
     </div>


     <div class="id_no uk-margin-small-top uk-margin-small-bottom">
      <div class="tool-section ion-padding">
       <div class="item-left">
        <div class="flex justify-between w-full">
          <span class=" itm-head">Customer Channels</span>
          <span class="ion-text-center itm-head"><ion-icon color="secondary" name="create"></ion-icon></span>
        </div>

        <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
          <table class="uk-table uk-table-small">
            <tbody>
              <tr>
                <td>Debit Card:</td>
                <td><strong>{{summary?.orderDebitCard}}</strong></td>
              </tr>
              <tr>
                <td>Cheque Book:</td>
                <td><strong>{{summary?.chequeBook}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>
       <div>
        <span>

        </span>
       </div>
      </div>
     </div>

     <!--IMAGES-->
     <div class="id_no uk-margin-small-top uk-margin-small-bottom">
      <div class="tool-section ion-padding">
       <div class="item-left">
        <div class="flex justify-between w-full">
          <span class=" itm-head">Customer Images</span>
          <!-- <span class="ion-text-center itm-head"><ion-icon color="secondary" name="create"></ion-icon></span> -->
        </div>

        <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
          <h6>Front Id</h6>
          <div class="uk-card-media-top mb-3">
            <img
              src="{{this.imageUrl + summary?.frontImageLink}}"
              width="100%"
              alt="Front Id"
              style="border: solid 3px #005b82; border-radius: 4px"
            />
          </div>
        </div>

        <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
          <h6>Back Id</h6>
          <div class="uk-card-media-top mb-3">
            <img
              src="{{this.imageUrl + summary?.backImageLink}}"
              width="100%"
              alt="Back Id"
              style="border: solid 3px #005b82; border-radius: 4px"
            />
          </div>
        </div>

        <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
          <h6>Signature</h6>
          <div class="uk-card-media-top mb-3">
            <img
              src="{{this.imageUrl + summary?.signatureLink}}"
              width="100%"
              alt="Signature"
              style="border: solid 3px #005b82; border-radius: 4px"
            />
          </div>
        </div>
       </div>
       <div>
        <span>

        </span>
       </div>
      </div>
     </div>

     <div class="m-3">
      <ion-button type="submit" expand="block" mode="md" size="medium" (click)="createAccount()">
        @if(!loader.loading) {
          Create Account
        }

        @if(loader.loading) {
          Sending...
          <ion-spinner *ngIf="loader.loading" name="circular" color="secondary"></ion-spinner>
        }
      </ion-button>
     </div>
    </div>
  </ion-content>
