<ion-header class="ion-no-border  head" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth" (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="m-4 flex items-center gap-2">
    <ion-progress-bar  [value]=".25"></ion-progress-bar>
  </div>
  <div class="container mx-auto p-4 w-full">
    <div class="font-semibold">
      <h4 class="browse">A code has been sent this phone number <span class="text-[#005B82]">{{auth.phoneNumber}}</span> and email<span class="text-[#005B82]"> {{auth.emailAddress}}</span>
      </h4>
    </div>
  </div>

  <div>
    <!-- <div style="padding-left:10px; padding-top:30px;" >
      <h4 class="browse" style="width: 80%;">Let's
          <span style="color: #005B82;"><strong> verify </strong>
          </span>the <span style="color: #005B82;"><strong>OTP</strong>
          </span> sent to your phone number <span style="color: #005B82;">0700000000</span> and email <span style="color: #005B82;">test&#64;gmail.com</span>
      </h4>
    </div> -->

    <form  style="padding: 10px; margin-top: 30%;"
     novalidate
    >
    <div style="width: 100%;">
        <!-- Email Address -->
        <div>
          <div style="display: flex; justify-content: center; flex-direction: column;" class="items-center">
            <ion-label>Enter the OTP here<span class="uk-text-danger">*</span></ion-label>
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config" class="ng-otp-input"></ng-otp-input>
          </div>
            <!-- <div class="validation-error uk-text-danger">
                <small class="error-message" *ngIf="of['smsCode'].hasError('required') && of['smsCode'].dirty">
                    <ion-icon name="information-circle-outline"></ion-icon>SMS Code is required
                </small>
            </div> -->
        </div>
        <br>
    </div>
    <br>

    <p class="otp-resend">
      <span style="color: #005B82 !important; " ><span style="color: #005B82;" *ngIf="!resend">Resend Code in: {{transform(counter)}} </span><span *ngIf="resend" (click)="resendCode()" style="cursor: pointer;">Resend OTP</span></span>
  </p>

    <div class="uk-margin-medium-bottom uk-margin-small-left uk-margin-small-right uk-margin-large-top">
      <ion-button
      type="submit"
      (click)="verifyOtp()" size="small" mode="md"
       [disabled]="smsCode.length < 6"
      expand="block"
      fill="solid"
      >
      {{ loader.loading ? '' : 'Continue'}}
      <ion-spinner *ngIf="loader.loading" name="circular" color="secondary"></ion-spinner>
    </ion-button>
    </div>
  </form>
  </div>
</ion-content>

