.head{
  position: relative;
  height: auto !important;

}

.browse {
  color: #444444;
  font-size: 1.3rem !important;
  font-family: "Gilroy-Medium" !important;
  font-weight: 500;
}

.otp-resend{
  text-align: center !important;
}

.otp-resend span, .contact-info .blue-info {
  color: #005B82 !important;
  font-weight: bolder !important;
}

.contact-info {
  margin-top: 1.5vh !important;
  text-align: center !important;
}

.browse {
  color: #444444;
  // font-size: rem-calc(30) !important;
  font-family: "Gilroy-Medium";
  margin-bottom: 30px;
}

.ng-otp-input input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 20px;
  border: 1px solid black;
}

ion-button{
  height: 53px !important;
}

.progress-bar{
  background-color: #005B82 !important;
}
