<ion-header class="ion-no-border  head" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth" (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img class="header-img" src="assets/images/logo_blue.png" height="40" />
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="m-4 flex items-center gap-2">
    <ion-progress-bar  [value]=".25"></ion-progress-bar>
  </div>
  <div class="container mx-auto p-4 w-full">
    <div class="font-medium">
      <h4 class="browse">A one-time PIN (OTP) has been sent to
        your mobile number at <span class="text-[#005B82]"><strong>{{'****'+getLastFourChars(auth.phoneNumber)}}</strong></span> and email at <span class="text-[#005B82]"> <strong>{{ getFirstFourChars(auth.emailAddress)+'****'+getLastFourChars(auth.emailAddress)}}</strong></span>.
        Please enter it below
to verify your mobile number
      </h4>

    </div>
  </div>

  <div>

    <form  style="padding: 10px; margin-top: 10vh;"
     novalidate
    >
    <div style="width: 100%;">
        <!-- Email Address -->
        <div>
          <div style="display: flex; justify-content: center; flex-direction: column;" class="items-center">
            <ion-label>Enter the OTP here<span class="uk-text-danger">*</span></ion-label>
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config" class="ng-otp-input"></ng-otp-input>
          </div>
            <!-- <div class="validation-error uk-text-danger">
                <small class="error-message" *ngIf="of['smsCode'].hasError('required') && of['smsCode'].dirty">
                    <ion-icon name="information-circle-outline"></ion-icon>SMS Code is required
                </small>
            </div> -->
        </div>
        <br>
    </div>
    <br>

    <p class="otp-resend">
      <span style="color: #005B82 !important; " ><span style="color: #005B82;" *ngIf="!resend">Resend Code in: {{transform(counter)}} </span><span *ngIf="resend" (click)="resendCode()" style="cursor: pointer;">Resend OTP</span></span>
  </p>

  <div class="uk-margin">
    <button
      type="submit"
      class="uk-button uk-button-primary uk-width-1-1"
      [disabled]="smsCode.length < 6"
      (click)="verifyOtp()"
    >
      <span *ngIf="!loader.loading" >Submit</span>
      <span *ngIf="loader.loading">
        Submitting...
        <span uk-spinner="ratio: 0.5"></span
      ></span>
    </button>
  </div>
  </form>
  </div>
</ion-content>

