<ion-header class="ion-no-border head" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/requirements"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center title"></ion-title>

    <ion-buttons slot="end">
      <img class="header-img" src="assets/images/logo_blue.png" height="40" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  <div class="mx-4 flex items-center gap-2">
    <ion-progress-bar [value]=".125"></ion-progress-bar>
  </div>

  <div class="container mx-auto p-4 w-full">
    <div class="jumbotron-head">
      <h4 class="font-medium">
        <strong
          >We will first verify your
          <span class="text-[#005B82]">Phone Number</span> and
          <span class="text-[#005B82]">Email Address</span></strong
        >
      </h4>
    </div>
  </div>

  <div class="form-item px-5">
    <form [formGroup]="authForm" style="" (ngSubmit)="login()">
      <div class="uk-margin">
        <label class="uk-form-label" for="emailAddress"
          >Email Address <span class="uk-text-danger">*</span></label
        >
        <div class="uk-form-controls">
          <input
            class="uk-input"
            id="emailAddress"
            name="emailAddress"
            formControlName="emailAddress"
            type="text"
            autocomplete="off"
            placeholder=""
          />
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="emailAddress"
          >Phone Number <span class="uk-text-danger">*</span></label
        >
        <div class="uk-form-controls">
          <ngx-intl-tel-input
            [cssClass]="'uk-input'"
            formControlName="phone"
            [preferredCountries]="[CountryISO.Kenya, CountryISO.Uganda, CountryISO.Rwanda]"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
            [enableAutoCountrySelect]="false"
            [enablePlaceholder]="true"
            [customPlaceholder]="'0700 000 000'"
            [searchCountryFlag]="true"
            [separateDialCode]="false"
            [selectedCountryISO]="CountryISO.Kenya"
          ></ngx-intl-tel-input>
          <div class="validation-error uk-text-danger">
            <small
              class="error-message"
              *ngIf="f['phone'].hasError('required') && f['phone'].dirty && f['phone'].touched"
            >
              <ion-icon name="information-circle-outline"></ion-icon>Phone
              number is required
            </small>
          </div>
        </div>
      </div>


      <div class="uk-margin mt-2" style="font-family: Gilroy-Medium !important;">
        <ion-checkbox color="secondary" labelPlacement="end" style="font-size: 14px;">
        </ion-checkbox>
        By proceeding I acknowledge that I have read and  I agree to  the <span class="font-semibold text-[#005B82] underline cursor-pointer">terms and conditions</span> and <span class="font-semibold text-[#005B82] underline cursor-pointer">privacy policy</span>
      </div>

      <div class="uk-margin-large-top">
        <div class="uk-form-controls">
          <ngx-recaptcha2
            #captchaElem
            [siteKey]="siteKey"
            (reset)="handleReset()"
            (expire)="handleExpire()"
            (load)="handleLoad()"
            (success)="handleSuccess($event)"
            [useGlobalDomain]="false"
            class="mb-2 g-recaptcha"
            style="display: block; width: 100%; transform-origin: 0 0"
            formControlName="recaptcha"
          >
          </ngx-recaptcha2>
        </div>
      </div>

      <div class="uk-margin">
        <button
          type="submit"
          class="uk-button uk-button-primary uk-width-1-1"
          (click)="login()"
          [disabled]="loader.loading || authForm.invalid"
        >
          <span *ngIf="!loader.loading" >Submit</span>
          <span *ngIf="loader.loading">
            Submitting...
            <span uk-spinner="ratio: 0.5"></span
          ></span>
        </button>
      </div>
    </form>
  </div>
</ion-content>
