ion-toolbar{
  --background: #fff !important;
}
ion-content{
  --background: #fff !important;
}
.content-body{
width: 100%;
display: flex;
position: relative;
overflow: auto;
background: #fff !important;
}

.browse {
  color: #444444;
  font-size: 1.3rem !important;
  font-family: "Roboto-Medium";
}

.form-item{
  // padding-left: 10%;
  // padding-right: 10%;
  justify-content: center;
  // margin-top: 30px;
}

.p-btn{
  position: relative;
  top: 20%;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  padding-bottom: 10px;
}
ion-button{
  height: 53px !important;
}

.checklist ion-item > input {
  align-self: start;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
  background: none !important;
  padding: 5px !important;
}

.invalid-border {
  border: 1px solid red !important;
}


.container {
  // display: flex;
  // margin: 15px 30px;
  // max-width: 500px;
}

label {
  padding-left: 7px;
}

.container input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 30px;
  border: 1px solid #c7cace;
}

.head{
  position: relative;

  .title{
    // position: absolute;
    left: 0% !important;
  }
}

