<ion-header class="ion-no-border head" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/requirements"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center title" ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  <div class="mx-4 flex items-center gap-2">
    <ion-progress-bar  [value]=".125"></ion-progress-bar>
  </div>


  <div class="container mx-auto pt-3 px-4 w-full">
    <div class="font-semibold">
      <h3 class="browse">
        Now let's verify your <span class="text-[#005B82]">phone number</span> and <span class="text-[#005B82]">email</span> to continue
      </h3>
    </div>
  </div>

<div class="form-item">
  <form   [formGroup]="authForm" style="">
    <div class="uk-margin-small-bottom" style="margin-left: 15px; margin-right: 15px !important;">
      <ion-label position="stacked" class="labels" style="font-size: .86em !important;">Phone Number <span class="uk-text-danger">*</span></ion-label>
      <ngx-intl-tel-input
      [cssClass]="'custom'"
      formControlName="phone"
      [preferredCountries]="[CountryISO.Kenya, CountryISO.Uganda, CountryISO.Rwanda]"
      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
      [enableAutoCountrySelect]="false"
      [enablePlaceholder]="true"
      [customPlaceholder]="'0700 000 000'"
      [searchCountryFlag]="true"
      [separateDialCode]="false"
      [selectedCountryISO]="CountryISO.Kenya"
      ></ngx-intl-tel-input>
        <div class="validation-error uk-text-danger">
          <small class="error-message"
              *ngIf="f['phone'].hasError('required') && f['phone'].dirty && f['phone'].touched">
              <ion-icon name="information-circle-outline"></ion-icon>Phone number is required
          </small>
      </div>
    </div>

     <!-- Email Address -->
     <div>
      <ion-item lines="none" mode="md">
          <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;" >Email Address <span class="uk-text-danger">*</span>
          </ion-label>
          <ion-input name="email" maxlength="35" type="email" [ngClass]="{'invalid-border': f['emailAddress'].hasError('pattern') && f['emailAddress'].dirty && f['emailAddress'].touched}" formControlName="emailAddress"  label="">
          </ion-input>
      </ion-item>
      <div class="validation-error uk-text-danger">
          <small class="error-message" *ngIf="f['emailAddress'].hasError('pattern') && f['emailAddress'].dirty && f['emailAddress'].touched">
              <ion-icon name="information-circle-outline"></ion-icon>Email must be a valid email
              address
          </small>
          <small class="error-message"
              *ngIf="f['emailAddress'].hasError('required') && f['emailAddress'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>Email is required
          </small>
      </div>
  </div><br>

  <div class="uk-margin-small-top">
    <ion-item lines="none">
     <ngx-recaptcha2 #captchaElem
     [siteKey]="siteKey"
     (reset)="handleReset()"
     (expire)="handleExpire()"
     (load)="handleLoad()"
     (success)="handleSuccess($event)"
     [useGlobalDomain]="false"
     class="mb-2 g-recaptcha"
     style="display: block; width: 100%; transform-origin: 0 0;"
     formControlName="recaptcha">
     </ngx-recaptcha2>
    </ion-item>
 </div>
  <!-- <div style="margin-left: 15px; margin-right: 15px !important; margin-top: 15px;">
      <ion-checkbox slot="start" style="--background: transparent; margin-right: 0;" mode="md"></ion-checkbox>
      <ion-label style="max-width: 500px; margin-left: 10px;">Accept
        <a href="#" (click)="$event.stopPropagation()" style="color: #005B82 !important;">Terms and Conditions</a> and the
        <a href="#" (click)="$event.stopPropagation()" style="color: #005B82 !important;">Privacy Policy</a>. Please review and accept to proceed.
      </ion-label>
  </div> -->

  <div class="mt-4 p-4">
    <ion-button size="medium" [disabled]="loader.loading || authForm.invalid" mode="md" type="submit"
    (click)="login()"
    expand="block"
    fill="solid"
  >
    {{ loader.loading ? '' : 'Continue'}}
    <ion-spinner *ngIf="loader.loading" name="circular" color="secondary"></ion-spinner>
  </ion-button>
  </div>

  <!-- <div class="p-btn uk-margin-xlarge-top">
    <ion-button mode="md" expand="block" size="medium" [disabled]="this.authForm.invalid" (click)="login()">
      Proceed
    </ion-button>
  </div> -->
  </form>
</div>
</ion-content>
