<ion-header class="ion-no-border head" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding/next-of-kin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">

  <div class="mx-4 flex items-center gap-2">
    <ion-progress-bar  [value]=".75"></ion-progress-bar>
    <span class="text-xs">6/7</span>
  </div>

  <div class="container mx-auto pt-2 px-4 w-full">
    <div>
      <h3 class="browse">
        Almost there, <br />
        Add your
        <span class="text-[#005B82]">occcupation</span> details
      </h3>
    </div>
  </div>

<div>
  <form   [formGroup]="occupationForm" style="">
    <div>
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Occupation<span class="uk-text-danger" >*</span>
        </ion-label>
        <ionic-selectable

          formControlName="occupation"
          [items]="occupations"
          itemValueField="occupationCode"
          [hasInfiniteScroll]="true"
          placeholder="Select"
          [isEnabled]="true"
          mode="ios"
          itemTextField="occupationName"
          [canSearch]="true"
          (onChange)="selectionChange($event.value, 'occupation')">
        </ionic-selectable>
      </ion-item>
    </div>


    <div>
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Industry<span class="uk-text-danger" >*</span>
        </ion-label>
        <ionic-selectable
          formControlName="industry"
          [items]="filteredIndustry"
          itemValueField="industryCode"
          [hasInfiniteScroll]="true"
          placeholder="Select"
          [isEnabled]="true"
          itemTextField="industryDescription"
          [canSearch]="true"
          (onChange)="selectionChange($event.value, 'industry')">
        </ionic-selectable>
      </ion-item>
    </div>


    <div>
      <ion-item lines="none" mode="md">
          <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Employer name <span class="uk-text-danger" >*</span>
          </ion-label>
          <ion-input name="text" maxlength="35" type="text" formControlName="employerName" label="">
          </ion-input>
      </ion-item>
      <div class="validation-error uk-text-danger">
          <small class="error-message"
              *ngIf="f['employerName'].hasError('required') && f['employerName'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>Your employer name is required
          </small>
      </div>
  </div>
 <br>

 <div class="id_no uk-margin-small-top uk-margin-large-bottom">
  <div class="tool-section ion-padding">
   <div class="item-left">
    <span class="ion-text-center itm-head">What is your monthly income range?</span><br>

    <div class="" style="font-family: Roboto-regular !important; font-size: 14px;">
      <ion-radio-group>
        @for(income of incomes; track income){
          <ion-radio (click)="changeIncome(income.incomeRangeCode)" mode="md" [name]="income.incomeRangeCode" [value]="income.incomeRangeCode" color="secondary" labelPlacement="end">{{income.incomeRangeName}}</ion-radio> <br />
        }
      </ion-radio-group> <br>
    </div>
   </div>
   <div>
    <span>

    </span>
   </div>
  </div>
 </div>

  <div style="margin-top: 30px;" class="m-3">
    <ion-button class="text-[#000]" size="medium" type="submit" mode="md"
    (click)="saveOccupation()"
    expand="block"
    fill="solid"
    [disabled]="!occupationForm.valid || this.selectedIncome === ''"
    >
    {{ loader.loading ? '' : 'Continue'}}
    <ion-spinner *ngIf="loader.loading" name="circular" color="secondary"></ion-spinner>
  </ion-button>
  </div>

  </form>

</div>

</ion-content>
