.otp-resend{
  text-align: center !important;
}

.otp-resend span, .contact-info .blue-info {
  color: #005B82 !important;
  font-weight: bolder !important;
}

.contact-info {
  margin-top: 1.5vh !important;
  text-align: center !important;
}

.browse {
  color: #444444;
  font-size: 1.3rem !important;
  font-family: "Gilroy-Medium";
}

.ng-otp-input input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 20px;
  border: 1px solid black;
}
.active-doctype{
  background: #c5c6d0; border: 2px #005B82  solid; border-radius: 5px;
}

.inactive-doctype{
  background: #f0f0f0; border: 1px #989 solid; border-radius: 5px;
}
