<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title size="large" class="ion-text-center" >Choose Your Account</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content class="body-content" >
  <div class="container mx-auto p-4 w-full">
    <div class="font-semibold">
      <h3 class="browse">{{getGreeting()}}, <br>
        Let's begin by selecting the <strong class="text-[#005B82]">Account Type</strong> you wish to open
      </h3>
    </div>
  </div>

  @if(!loader.loading){
    <div class="indiv-section">
      <div class="indiv-content">
        <h3 class="acc-title">{{productDetails[0]?.shortDescription}}</h3>
        <p>{{productDetails[0]?.longDescription}}</p>
        <ion-button color="primary" mode="md" (click)="onSelectAccoutType(0)">Select {{productDetails[0]?.shortDescription}}<ion-icon name="chevron-forward-outline" color="secondary"></ion-icon></ion-button>
      </div>
    </div>
  }

  @if(loader.loading){
    <div class="indiv-section">
      <div class="indiv-content">
        <h3 class="acc-title">
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1.2rem;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1rem;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1rem;"></ion-skeleton-text>
        </p>
        <ion-skeleton-text [animated]="true" style="width: 60%; height: 1.6rem;"></ion-skeleton-text>
      </div>
    </div>
  }

  @if(!loader.loading){
    <div class="joint-section uk-flex uk-flex-right">
      <div class="indiv-content ">
        <h3 class="acc-title">{{productDetails[1]?.shortDescription}}</h3>
        <p>{{productDetails[1]?.longDescription}}</p>
        <ion-button color="primary" mode="md" (click)="onSelectAccoutType(1)">Select {{productDetails[1]?.shortDescription}} <ion-icon name="chevron-forward-outline" color="secondary"></ion-icon></ion-button>
      </div>
    </div>
  }

  @if(loader.loading){
    <div class="joint-section uk-flex uk-flex-right">
      <div class="indiv-content ">
        <h3 class="acc-title">
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1.2rem;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1rem;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1rem;"></ion-skeleton-text>
        </p>
        <ion-skeleton-text [animated]="true" style="width: 60%; height: 1.6rem;"></ion-skeleton-text>
      </div>
    </div>
  }



  <div class="bus-section">
    <div class="indiv-content">
      <h3 class="acc-title">{{productDetails[2]?.shortDescription}}</h3>
      <p>{{productDetails[2]?.longDescription}}</p>
      <ion-button color="primary" mode="md" (click)="onSelectAccoutType(2)">Select {{productDetails[2]?.shortDescription}}<ion-icon name="chevron-forward-outline" color="secondary"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>
