<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title size="large" class="ion-text-center" >Choose Your Account</ion-title> -->

    <ion-buttons slot="end">
      <img class="header-img" src="assets/images/logo_blue.png" height="40" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content
class="body-content"
[scrollEvents]="true"
(ionScrollStart)="handleScrollStart()"
(ionScroll)="handleScroll($any($event))"
(ionScrollEnd)="handleScrollEnd()"
 >
  <div class="container mx-auto p-4 w-full">
    <div class="font-semibold">
      <h3 class="browse">{{getGreeting()}}, <br>
        Let's begin by selecting the <strong class="text-[#005B82]">Account Type</strong> you wish to open
      </h3>
    </div>
  </div>

  @if(scrollTop < 200 && !isScrolling){
    <div class="testee" (click)="scrollToBottom()">
      <ion-icon
        class="centered-element animate__animated animate animate__bounce animate__infinite animate_slower"
        color="secondary"
        name="chevron-down-circle-outline"
      ></ion-icon>
    </div>
    }

  @if(!loader.loading){
    <div class="indiv-section">
      <div class="indiv-content">
        <h3 class="acc-title"><strong>{{productDetails[0]?.shortDescription}}</strong></h3>
        <p>{{productDetails[0]?.longDescription}}</p>
        <!-- <ion-button color="primary" mode="md" (click)="onSelectAccoutType(0)">{{productDetails[0]?.shortDescription}}<ion-icon name="chevron-forward-outline" color="secondary"></ion-icon></ion-button> -->
        <div class="uk-margin">
          <button
            type="submit"
            class="uk-button uk-button-primary"
            (click)="onSelectAccoutType(0)"
          >
            <span *ngIf="!loader.loading" >{{productDetails[0]?.shortDescription}}</span>
            <span *ngIf="loader.loading">
              Submitting...
              <span uk-spinner="ratio: 0.5"></span
            ></span>
          </button>
        </div>
      </div>
    </div>
  }

  @if(loader.loading){
    <div class="indiv-section">
      <div class="indiv-content">
        <h3 class="acc-title">
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1.2rem;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1rem;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1rem;"></ion-skeleton-text>
        </p>
        <ion-skeleton-text [animated]="true" style="width: 60%; height: 1.6rem;"></ion-skeleton-text>
      </div>
    </div>
  }

  @if(!loader.loading){
    <div class="joint-section uk-flex uk-flex-right">
      <div class="indiv-content ">
        <h3 class="acc-title"><strong>{{productDetails[1]?.shortDescription}}</strong></h3>
        <p>{{productDetails[1]?.longDescription}}</p>
        <div class="uk-margin">
          <button
            type="submit"
            class="uk-button uk-button-primary"
            (click)="onSelectAccoutType(1)"
          >
            <span *ngIf="!loader.loading" >{{productDetails[1]?.shortDescription}}</span>
            <span *ngIf="loader.loading">
              Submitting...
              <span uk-spinner="ratio: 0.5"></span
            ></span>
          </button>
        </div>
      </div>
    </div>
  }

  @if(loader.loading){
    <div class="joint-section uk-flex uk-flex-right">
      <div class="indiv-content ">
        <h3 class="acc-title">
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1.2rem;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1rem;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%; height: 1rem;"></ion-skeleton-text>
        </p>
        <ion-skeleton-text [animated]="true" style="width: 60%; height: 1.6rem;"></ion-skeleton-text>
      </div>
    </div>
  }



  <div class="bus-section" #scrollTarget>
    <div class="indiv-content">
      <h3 class="acc-title"><strong>{{productDetails[2]?.shortDescription}}</strong></h3>
      <p>{{productDetails[2]?.longDescription}}</p>
      <div class="uk-margin">
        <button
          type="submit"
          class="uk-button uk-button-primary"
          (click)="onSelectAccoutType(2)"
        >
          <span *ngIf="!loader.loading" >{{productDetails[2]?.shortDescription}}</span>
          <span *ngIf="loader.loading">
            Submitting...
            <span uk-spinner="ratio: 0.5"></span
          ></span>
        </button>
      </div>
    </div>
  </div>
</ion-content>
