<ion-header class="ion-no-border" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding/occupation"></ion-back-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="uk-margin-small-top">
    <div  class="mx-4">
      <div>
        <h3 class="browse">Let's complete the application by taking a <strong style="color: #005B82 !important; "> Selfie </strong>
        </h3>
      </div>
    </div>

    <div class="uk-flex uk-justify-between ion-padding">
      <div>
        <img ngSrc="assets/images/mask-1.png" width="187" height="236" alt="" priority>
      </div>
      <div class="ion-padding">
        <p>Please clear your face of any coverings for a nice, clear selfie.</p>
      </div>
    </div>

    <div class="uk-flex uk-justify-between ion-padding">

      <div class="ion-padding">
        <p>Glasses off please. Let's avoid glare and make sure we can see your eyes.</p>
      </div>
      <div>
        <img ngSrc="assets/images/mask.png" width="187" height="236" alt="" priority>
      </div>
    </div>

    <div class="uk-flex uk-justify-between ion-padding">
      <div>
        <img ngSrc="assets/images/selfie-ok.png" width="187" height="236" alt="" priority>
      </div>
      <div class="ion-padding">
        <p>Find a bright spot so your selfie shines!</p>
        <div class="uk-text-center">
          <ion-button mode="md"  class="actionBtn" (click)="openCamera('selfie')" >
            @if(loader.detectingFace){
              Detecting Face...
            }
            @if(loader.savingSelfie) {
              Saving Selfie... {{progress}}%
            }
            @if(!loader.loading) {
             Open Camera
            }
            <span class="uk-margin-small-left">
              @if(loader.loading) {
                <ion-spinner *ngIf="loader.loading" name="circular" color="secondary"></ion-spinner>
              }
              @if(!loader.loading) {
                <ion-icon name="camera"></ion-icon>
              }
            </span>
          </ion-button>
        </div>
      </div>
    </div>
    </div>
    </ion-content>
