<ion-header class="ion-no-border head" mode="md">
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding/id-scan"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <img class="header-img" src="assets/images/logo_blue.png" height="40" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">

  <div class="mx-4  flex items-center gap-2">
    <ion-progress-bar  [value]=".5"></ion-progress-bar>
  </div>

  <div class="container mx-auto pt-2 px-4 w-full">
    <div>
      <h3 class="browse">
        Now add your account <span class="text-[#005B82]">preference details</span> and  account services
      </h3>
    </div>
  </div>

<div class="form-item">
  <form   [formGroup]="dataForm" style="">
    <div class="uk-margin-small-bottom">
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Prefered branch<span class="uk-text-danger" >*</span>
        </ion-label>
        <ionic-selectable
          formControlName="branch"
          [items]="branches"
          itemValueField="branchCode"
          [hasInfiniteScroll]="true"
          placeholder="--Select--"
          [isEnabled]="true"
          class="uk-input"
          itemTextField="branchName"
          [canSearch]="true"
          (onChange)="branchChange($event)">
        </ionic-selectable>
      </ion-item>
    </div>

    <div class="uk-margin-small-bottom">
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Country of residence<span class="uk-text-danger" >*</span>
        </ion-label>
        <ionic-selectable

          formControlName="residence"
          [items]="countries"
          itemValueField="countryCode"
          [hasInfiniteScroll]="true"
          placeholder="--Select--"
          mode="ios"
          [isEnabled]="true"
          class="uk-input"
          itemTextField="countryName"
          [canSearch]="true"
          (onChange)="countryChange($event)">
        </ionic-selectable>
      </ion-item>
    </div>

    <!-- <div>
      <ionic-selectable
        [items]="countries"
        interface="popover"
        class="uk-input"
        itemTextField="countryName"
        (ionSelect)="onSelect($event)"
      ></ionic-selectable>

      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="dots"
          loadingText="Loading more data..."  

        ></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div> -->

    <div class="uk-margin-small-bottom">
      <ion-item lines="none" mode="md">
          <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Area of residence <span class="uk-text-danger" >*</span>
          </ion-label>
          <ion-input class="uk-input" name="text" maxlength="35" placeholder="e.g Nairobi" type="text" formControlName="address" label="">
          </ion-input>
      </ion-item>
      <div class="validation-error uk-text-danger">
          <small class="error-message" *ngIf="f['address'].hasError('pattern') && f['address']dirty">
              <ion-icon name="information-circle-outline"></ion-icon>ID must be a valid ID number
              address
          </small>
          <small class="error-message"
              *ngIf="f['address'].hasError('required') && f['address'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>ID number is required
          </small>
      </div>
  </div>
     <!-- Building -->
     <div class="uk-margin-small-bottom">
      <ion-item lines="none" mode="md">
          <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;" >Building<span class="uk-text-danger">*</span>
          </ion-label>
          <ion-input class="uk-input" name="building" maxlength="35" type="text" formControlName="building" placeholder="e.g. ABC Apartments" label="">
          </ion-input>
      </ion-item>
      <div class="validation-error uk-text-danger">
          <small class="error-message" *ngIf="f['building'].hasError('pattern') && f['building'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>Email must be a valid email
              address
          </small>
          <small class="error-message"
              *ngIf="f['building'].hasError('required') && f['building'].dirty">
              <ion-icon name="information-circle-outline"></ion-icon>Email is required
          </small>
      </div>
  </div>
  <div *ngIf="fatca">
    <ion-item-divider class="uk-margin-top"  style="color: #0033aa !important; background-color: #c3c7c7; font-weight: 500;">
      <ion-label class="fatca uk-padding-top">
        <strong>FATCA Requirements</strong>
      </ion-label>
    </ion-item-divider>

    <!-- SSN -->
    <div>
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">Social Security Number <span class="uk-text-danger">*</span>
        </ion-label>
        <ion-input class="uk-input" name="usSocialSecurityNumber" type="text" maxlength="15" label="" formControlName="usSocialSecurityNumber"
          (input)="formatSSN()"></ion-input>
      </ion-item>
    </div>
    <!-- US Postal Code -->
    <div>
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">USA Postal Code <span class="uk-text-danger">*</span>
        </ion-label>
        <ion-input class="uk-input" name="usPostalCode" maxlength="35" type="text" label="" formControlName="usPostalCode"></ion-input>
      </ion-item>
    </div>
    <!-- US Mailing Address -->
    <div>
      <ion-item lines="none" mode="md">
        <ion-label position="stacked" class="labels" style="transform: translateY(30%) scale(0.75) !important; font-size: 20px !important;">USA Mailing Address <span class="uk-text-danger">*</span>
        </ion-label>
        <ion-input class="uk-input" name="usMailingAddress" maxlength="35" type="text" label="" formControlName="usMailingAddress">
        </ion-input>
      </ion-item>
    </div>
  </div>

  <ion-item-divider class="uk-margin-top"  style="color: #0033aa !important; background-color: #c3c7c7; font-weight: 500;">
    <ion-label class="fatca uk-padding-top">
      <strong>Switch on the services you'd like to add to your account.</strong>
    </ion-label>
  </ion-item-divider>

<!--= Internet Banking Feature Currently Disabled ==-->
   <!-- <div class="id_no uk-margin-small-top">
    <div class="tool-section ion-padding">
     <div class="item-left">
      <span class="ion-text-center itm-head">Online Banking</span><br>
      <span>Manage your finances anytime, anywhere on our website.</span>
     </div>
     <div>
      <span><strong><ion-toggle (ionChange)="changeOnlineBanking($event)" mode="ios" color="secondary"></ion-toggle></strong></span>
     </div>
    </div>
   </div> -->
   <div class="id_no uk-margin-small-top">
    <div class="tool-section ion-padding">
     <div class="item-left">
      <span class="ion-text-center itm-head">Mobile Banking</span><br>
      <span>You will be automatically onboarded onto Mobile Banking once the account has been successfully opened.</span>
     </div>
    </div>
   </div>

   <div class="id_no uk-margin-small-top">
    <div class="tool-section ion-padding">
     <div class="item-left">
      <span class="ion-text-center itm-head">Debit Card</span><br>
      <span>Shop and withdraw cash with ease using your card.</span>
     </div>
     <div>
      <span><strong><ion-toggle (ionChange)="changeDebitCard($event)" mode="ios" color="secondary"></ion-toggle></strong></span>
     </div>
    </div>
   </div>

   <div class="id_no uk-margin-small-top">
    <div class="tool-section ion-padding">
     <div class="item-left">
      <span class="ion-text-center itm-head">Cheque Book</span><br>
      <span>Order cheque book.</span>
     </div>
     <div>
      <span><strong><ion-toggle (ionChange)="changeChequeBook($event)" mode="ios" color="secondary"></ion-toggle></strong></span>
     </div>
    </div>
   </div>
   @if (fatca) {
   <div class="uk-margin p-4" >
    <button
      type="submit"
      class="uk-button uk-button-primary uk-width-1-1"
      [disabled]="dataForm.invalid"
      (click)="toNextOfKin()"

    >
      <span *ngIf="!loader.loading" >Submit</span>
      <span *ngIf="loader.loading">
        Submitting...
        <span uk-spinner="ratio: 0.5"></span
      ></span>
    </button>
  </div>
  }
  @if(!fatca){
  <div class="uk-margin p-4">
    <button
      type="submit"
      class="uk-button uk-button-primary uk-width-1-1"
      [disabled]="dataForm.invalid"
      (click)="toNextOfKin()"
    >
      <span *ngIf="!loader.loading" >Submit</span>
      <span *ngIf="loader.loading">
        Submitting...
        <span uk-spinner="ratio: 0.5"></span
      ></span>
    </button>
  </div>
  }
  <!-- <div style="margin-top: 30px;" class="p-4">
    @if (fatca) {
      <ion-button type="submit" class="text-[#000]" size="medium" mode="md"
      (click)="toNextOfKin()"
      expand="block"
      fill="solid"
      [disabled]="!dataForm.valid"
      >
      {{ loader.loading ? '' : 'Continue'}}
      <ion-spinner *ngIf="loader.loading" name="circular" color="secondary"></ion-spinner>
    </ion-button>
    }

    @if(!fatca){
      <ion-button type="submit" class="text-[#000]" size="medium" mode="md"
      (click)="toNextOfKin()"
      expand="block"
      fill="solid"
      [disabled]="!dataForm.valid"
      >
      {{ loader.loading ? '' : 'Continue'}}
      <ion-spinner *ngIf="loader.loading" name="circular" color="secondary"></ion-spinner>
    </ion-button>


    }
  </div> -->

  </form>

</div>
</ion-content>
