<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title class="ion-text-center">Product Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="terms-content">
  <div class="m-3">
    <div class="rounded-xl uk-margin-small-bottom bg-[#E9EAEC]">
      <div class="tool-section ion-padding">
       <div class="item-left">
        <div class="flex justify-between">
          <span class="ion-text-center itm-head font-semibold">{{data.name}}</span>
        </div>
        <div class="" style="font-family: Gilroy-Regular !important; font-size: 14px;">
          <div class="clamp"><span
            [innerHtml]="data?.policyDecription">
          </span>
          </div>
        </div>
       </div>
      </div>
     </div>

     <div class="rounded-xl uk-margin-small-bottom bg-[#E9EAEC] mb-2">
      <div class="tool-section ion-padding">
       <div class="item-left">
        <div class="flex justify-between">
          <span class="ion-text-center itm-head font-semibold">Features</span>
        </div>
        <div class="" style="font-family: Gilroy-Regular !important; font-size: 14px;">
          <div class="clamp">
            <span [innerHTML]="data.features"></span>
          </div>
        </div>

        <div class="pt-2" style="font-family: Gilroy-Regular !important; font-size: 14px;">
          <span class="itm-head font-semibold">Opening Balance</span>
          <div class="description" [innerHtml]="data.openningBalance"></div>
        </div>

        <div class="pt-2">
          <span class="itm-head font-semibold">Monthly Fees</span>
          <div class="description" [innerHtml]="data.monthlyFee"></div>
        </div>

        <div class="pt-2" style="font-family: Gilroy-Regular !important; font-size: 14px;">
          <span class="itm-head font-semibold">Target Market</span>

          <div class="uk-margin-small-right uk-margin-small-left">
            <span [innerHTML]="data.targetMarket"></span>
          </div>
        </div>

        <div class="pt-2" style="font-family: Gilroy-Regular !important; font-size: 14px;">
          <span class="itm-head font-semibold">Benefits</span>
          <div class="uk-margin-small-right uk-margin-small-left" style="font-family: Gilroy-Regular !important; font-size: 14px;">
            <span [innerHTML]="data.benefits"></span>
          </div>
        </div>

       </div>
      </div>
     </div>
  </div>

  <div class="ion-margin">
    <ion-button color="primary" expand="block" (click)="viewRequirements()" >Continue</ion-button>
  </div>


</ion-content>
