.terms-text{
  margin: 15px 5px 15px 10px;
}

.title{
  font-size: 20px;
  font-weight: 900px !important;
  font-family: "Gilroy-Medium", sans-serif;
  color: #005B82;
  min-width: 80%;
}

h5{
  font-size: 20px;
  font-weight: 900px !important;
  font-family: 'Gilroy-Regular', sans-serif;
}

ion-button{
  height: 53px !important;
}
