/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  ul, ol {
    list-style: revert;
  }
}
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

//Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'animate.css/animate.min.css';

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Light"),
    url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Italic"),
    url("./assets/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Bold"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Medium"),
    url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Thin"),
    url("./assets/fonts/Roboto-Thin.ttf") format("truetype");
}

html,
body {
  height: 100%;
  background-color: #f3f3f4;
  color: #222428;
  width: 100% !important;
  font-family: 'Roboto-Regular';
 }

 ion-button {
  text-transform: none;
 }

//  Header Styles
 .acc-title{
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
}

.header-color{
  --background: #f3f3f4;
}

ion-content{
  --background: #f3f3f4;
}
.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.step {
  flex: 1;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0 5px;
  transition: color 0.3s ease;
}

.my-primary{
  color: #005B82 !important;
}
.my-secondary{
  color: #222428 !important;
  font-weight: 500 !important;
}
.step::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ccc;
  z-index: -1;
  transition: background-color 0.3s ease;
}

.active {
  color: #bed600; /* Change color of active step text */
}

.active::before {
  background-color: #bed600; /* Change color of active step line */
}

ngx-intl-tel-input input {
  height: 50px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7cace;
  border-radius: 4px;
  vertical-align: center !important;
  color: #444444 !important;
  font-size: 18px;
  font-weight: 500 !important;
  background: transparent !important;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  border-color: #3498db;
  box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}

.custom{
  width: 100% !important;
  margin-left: 50px;
}

.iti {
  display: block !important;
  // margin-bottom: 20px;
  width: 100%;
  background: transparent !important;
}

.iti .dropdown-menu.country-dropdown {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #757575;
  margin-top: -1px;

}

.iti .iti__country-list {
  box-shadow: none;
  font-size: 14px;
  margin-left: 0;
  width: 244px;
  max-height: 170px;
}

.iti__flag-container.open + input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.iti .search-container input {
  font-size: 14px;
  border-color: #c7cace;
  border-radius: 0;
  background: transparent !important;
  padding: 5px 10px;
}

.iti .search-container input:focus {
  outline: none;
}

@media screen and (max-width: 479px) {
  .iti .iti__country-list {
    width: 88.3vw;
  }
}

ion-select{
  font-weight: 500;
}

ionic-selectable{
  padding-left: 15px !important;
}

ion-input,
ionic-selectable,
ion-datetime {
  border: 1px solid #c7cace;
  border-radius: 4px !important;
  --padding-start: 12px;
  color: #444444;
  font-size: 1em !important;
  font-weight: 500;
  height: 50px !important;
  --vertical-align: center !important;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

ion-item {
  --background: none;
  opacity:1;

}


ion-label {
  color: #000 !important;
  font-size: 1em !important;
  font-size: 100% !important;
  font-weight: 400;
  padding-bottom: 5px !important;
}

ion-button[type=submit] {
  font-size: 1rem;
  font-weight: 700;
  // line-height: 53rem;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 3.5rem;
}

.otp-input{
  background-color: transparent !important;
  width: 40px !important;
  height: 40px !important;
}

/*
Design elements restricted to MOBILE SCREEN only
*/
@media only screen and (max-width: 768px) {
  .desktop-content {
    display: none;
    min-width: 100vw !important;
  }
}

/*
Design element restricted to DESKTOP SCREEN only
*/
@media only screen and (min-width: 768px) {
  .mobile-content {
    display: none;
    min-width: 80vw !important;
  }
}

.message-modal {
  // --backdrop-opacity: 1;
  // backdrop-filter: blur(3px);

  &::part(backdrop) {
      background: #000;
  }

  &::part(handle) {
      background: var(--ion-color-primary);
      width: 30px;
      height: 6px;
  }

  &::part(content) {
      border-radius: 10px; // Here the border radius
      box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 32%);
  }
}
