<!--======================
  MOBILE SCREENS CONTENT
==========================-->
<ion-content
  [fullscreen]="true"
  [scrollEvents]="true"
  (ionScrollStart)="handleScrollStart()"
  (ionScroll)="handleScroll($any($event))"
  (ionScrollEnd)="handleScrollEnd()"
  class="mobile-content"
>
  <div id="container">
    <div class="logo-img">
      <img
        src="assets/images/logo-white.png"
        alt="Logo"
        height="83"
        width="167"
      />
    </div>

    @if(scrollTop < 200 && !isScrolling){
    <div class="testee" (click)="scrollToBottom()">
      <ion-icon
        class="centered-element animate__animated animate animate__bounce animate__infinite animate_slower"
        color="primary"
        name="chevron-down-circle-outline"
      ></ion-icon>
    </div>
    }

    <div class="welcome-info">
      <span class="welcome-title">
        Welcome to <br />
        <span class="gradient-text">Ecobank's Digital <br />
        Account Opening</span>
      </span>
      <p class="welcome-desc">
        Open your new account online quickly, <br />
        easy, anytime and anywhere with <br />
        just a few steps.
        <!-- <button class="pulseBtn" (click)="viewSteps()">view steps</button> -->
      </p>
    </div>

    <!-- <div class="step-section">
      <div class="content">
        <img src="assets/images/description.png" alt="" height="400" />
      </div>
    </div> -->

    <div class="start-btn">
      <ion-button
        color="primary"
        expand="block"
        mode="md"
        [routerLink]="['/account-types']"
        routerLinkActive="router-link-active"
      >
        @if(!loading) { Let's Get Started } @if(loading){
        <ion-spinner name="circular"></ion-spinner>
        }
      </ion-button>
    </div>

    <div class="help-section" #scrollTarget>
      <span style="padding-top: 2px; font-size: 12px">Need Help?</span>
      <p style="font-size: 12px !important; font-weight: 600 !important">
        Call Us at (+254) 709 573 000
      </p>
      <!-- <div class="social">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <img src="assets/images/x.png" height="15" width="17" alt="X-Logo" />
      </div> -->
      <p
        style="
          font-weight: 600 !important;
          text-decoration: underline;
          font-size: 12px;
        "
      >
        kenya&#64;ecobank.com
      </p>
    </div>
  </div>
</ion-content>

<!--=====================
  DESKTOP SCREENS CONTENT
=========================-->

<div class="desktop-content h-screen overflow-auto">
  <div class="bg-lady"></div>

  <div class="flex items-center w-full h-full">
    <div class="flex flex-row items-center justify-between w-full h-full">
      <div class="home-left">
        <div class="">
          <div class="relative p-4">
            <img
              ngSrc="assets/images/logo-white.png"
              width="150"
              height="90"
              alt="Logo"
            />
          </div>

          <div class="home-title mt-32">
            <h5 class="gradient-text">
              Welcome to Ecobank's <br />
              <span class="gradient-text">Digital Account Opening</span>
            </h5>
            <div>
              <p class="welcome-desc">
                Open your new account online quickly, easy, anytime and <br />
                anywhere in just a few steps. Join us now by creating your:
                <br />
                <ngx-typed-js
                  [strings]="[
                    'Individual Account',
                      'Joint Account',
                      'Business Account',
                     ]"
                  [loop]="true"
                  [typeSpeed]="60"
                  [shuffle]="true"
                >
                  <span
                    class="home-text08 typing text-[#bed600] font-black"
                  ></span>
                </ngx-typed-js>
              </p>
            </div>
          </div>

          <div class="btn-section uk-margin-small-top">
            <ion-button
              class="dektop-btn"
              color="primary"
              mode="md"
              (click)="gotToQRCode()"
              routerLinkActive="router-link-active"
            >
              @if(!loading) { Let's Get Started
              <ion-icon name="arrow-forward-outline"></ion-icon>
              } @if(loading){
              <ion-spinner name="circular"></ion-spinner>
              }
            </ion-button>
          </div>
        </div>
      </div>
      <div class="mt-40 flex justify-center items-center">
        <!-- <img
          ngSrc="assets/images/description.png"
          ngSrcset="200w, 400w, 600w, 800w, 1000w, 1200w, 1600w, 2000w, 3000w"
          width="300"
          height="425"
          m
          alt=""
          priority
        /> -->

        <!-- Custom List -->
         <div class="steps-section w-[21.5rem]  min-h-[25rem] rounded p-4">
          <h4 class="font-bold">Simple Steps to your new Account</h4>
          <ul class="custom-list">
            <li class="flex flex-col">
              <span class="font-bold mb-1">Choose Your Account</span>
              <span>Select the type of account that best fits your needs</span>
            </li>

            <li class="flex flex-col">
              <span class="font-bold mb-1">Verify Your Identity</span>
              <span>Secure your account opening process with a quick identity verification, including a selfie and OTP</span>
            </li>

            <li class="flex flex-col">
              <span class="font-bold mb-1">Provide  Your Details</span>
              <span>Fill in some of your basic information and upload necessary documents</span>
            </li>

            <li class="flex flex-col">
              <span class="font-bold mb-1">Confirm & Submit</span>
              <span>Quickly review the information you provided, confirm your details and submit your application</span>
            </li>
          </ul>
         </div>
      </div>
    </div>
  </div>
</div>
